aerich==0.3.2
aiohttp==3.7.4
aiosqlite==0.15.0
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==20.2.0
autopep8==1.5.4
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.4
fastapi==0.61.1
h11==0.11.0
httpcore==0.12.0
httpx==0.16.1
idna==2.10
iniconfig==1.1.1
iso8601==0.1.13
multidict==5.0.0
packaging==20.4
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pydantic==1.6.1
pyparsing==2.4.7
PyPika==0.42.1
pytest==6.1.1
pytest-asyncio==0.14.0
rfc3986==1.4.0
six==1.15.0
sniffio==1.2.0
starlette==0.13.6
toml==0.10.1
tortoise-orm==0.16.17
typing-extensions==3.7.4.3
urllib3==1.25.11
uvicorn==0.12.2
yarl==1.6.2
